:host {
  display: contents;
}

.auth {
  min-height: calc(100vh - 44px); // 44px - navbar height
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: clamp(330px, 100%, 500px);
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  background-color: var(--color-blocks-bg);
  border-radius: 4px;
  margin-bottom: 40px;
  height: 64px;
  border: 1px solid var(--color-blocks-border);
  transition: 0.3s;
}

.form-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.form-checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.title {
  font-size: 34px;
  line-height: 34px;
  font-weight: 700;
  padding-bottom: 76px;
}

.additional-message {
  padding-bottom: 20px;
  font-size: 14px;
}

.form-control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-left: 10px;
  padding-top: 30px;
  padding-right: 16px;
  padding-bottom: 16px;
  border-radius: 4px;
  border: none;
  margin-bottom: 20px;
  border: 1px solid transparent;

  // &:hover {
  //   border: 1px solid #9E9E9E;
  // }

  &:focus {
    border: 1px solid #5E5E5E;
  }
}

.form-label {
  position: absolute;
  z-index: 1;
  padding-top: 12px;
  padding-left: 10px;
  color: var(--color-blocks-text);
  font-size: 12px;
  pointer-events: none;
}

.invalid {
  border: 1px solid red;
}

.invalid-hint-container {
  position: relative;
  font-size: 12px;
  color: red;
  margin-bottom: 6px;
  top: -10px;
}

.invalid-hint {
  padding-bottom: 6px;
}

.invalid-checkbox {
  outline: 2px solid red;
}
