<div class="auth">
  <div class="flex-container">
    <h1 class="title">{{ title }}</h1>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <p *ngIf="additionalMessage" class="additional-message">
        {{ additionalMessage }}
      </p>
      <!-- name -->
      <label *ngIf="isSignup" class="form-label" for="name">Name</label>
      <input
        *ngIf="isSignup"
        formControlName="name"
        class="form-control"
        [ngClass]="{'invalid': (isTouched('name') || submitted) && f['name'].errors}"
        type="text"
        name="name"
      >
      <div *ngIf="isSignup && (isTouched('name') && isInvalid('name') || submitted) && f['name'].errors" class="invalid-hint-container">
        <div *ngIf="f['name'].errors['required']" class="invalid-hint">Name is required</div>
        <div *ngIf="f['name'].errors['minlength']" class="invalid-hint">Name must be at least 4 characters</div>
        <div *ngIf="f['name'].errors['maxlength']" class="invalid-hint">Name must not exceed 20 characters</div>
      </div>
      <!-- email -->
      <label class="form-label" for="email">E-mail</label>
      <input
        formControlName="email"
        class="form-control"
        [ngClass]="{'invalid': (isTouched('email') || submitted) && form.controls['email'].errors}"
        type="text"
        name="email"
      >
      <div *ngIf="(isTouched('email') && isInvalid('email') || submitted) && f['email'].errors" class="invalid-hint-container">
        <div *ngIf="f['email'].errors['required']" class="invalid-hint">E-mail is required</div>
        <div *ngIf="f['email'].errors['email']" class="invalid-hint">Invalid e-mail</div>
      </div>
      <!-- password -->
      <label *ngIf="!isForgotPasswordPage" class="form-label" for="password">Password</label>
      <input
        *ngIf="!isForgotPasswordPage"
        formControlName="password"
        class="form-control"
        [ngClass]="{'invalid': (isTouched('password') || submitted) && form.controls['password'].errors}"
        type="text"
        name="password"
      >
      <div *ngIf="!isForgotPasswordPage && (isTouched('password') && isInvalid('password') || submitted) && f['password'].errors" class="invalid-hint-container">
        <div *ngIf="f['password'].errors['required']" class="invalid-hint">Password is required</div>
        <div *ngIf="f['password'].errors['minlength']" class="invalid-hint">Password must be at least 4 characters</div>
        <div *ngIf="f['password'].errors['maxlength']" class="invalid-hint">Password must not exceed 40 characters</div>
      </div>
      <!-- confirmPassword -->
      <label *ngIf="isSignup" class="form-label" for="confirmPassword">Confirm password</label>
      <input
        *ngIf="isSignup"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{'invalid': (isTouched('confirmPassword') || submitted) && form.controls['confirmPassword'].errors}"
        type="text"
        name="confirmPassword"
      >
      <div *ngIf="isSignup && (isTouched('confirmPassword') && isInvalid('confirmPassword') || submitted) && f['confirmPassword'].errors" class="invalid-hint-container">
        <div *ngIf="f['confirmPassword'].errors['required']" class="invalid-hint">Confirm password is required</div>
      </div>
      <!-- terms -->
      <input
        type="checkbox"
        formControlName="terms"
        id="terms"
        autocomplete
      >
      <label for="terms">I have read and agree to the Terms</label>
      <app-link *ngIf="linkText" [link]="link" [text]="linkText" />
      <app-button type="submit" [text]="submitButtonText" />
      <app-link
        *ngIf="isSigin"
        [link]="['../forgot_password']"
        [text]="'Forgot password?'"
        [margin]="passwordLinkMargin"
      />
    </form>
  </div>
  <app-auth-social [socialLinkText]="socialAuthText" />
</div>
