:host {
  display: contents;
}

.auth {
  min-height: calc(100vh - 44px); // 44px - navbar height
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: clamp(330px, 100%, 500px);
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  background-color: var(--color-blocks-bg);
  border-radius: 4px;
  margin-bottom: 40px;
  height: 64px;
  border: 1px solid var(--color-blocks-border);
  transition: 0.3s;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 16px;
}

.form-control {
  height: 100%;
  border-radius: 4px;
  border: none;

  // &:focus {
  //   -webkit-box-shadow: 0px 0px 34px -19px rgba(0, 0, 0, 0.75);
  //   -moz-box-shadow: 0px 0px 34px -19px rgba(0, 0, 0, 0.75);
  //   box-shadow: 0px 0px 34px -19px rgba(0, 0, 0, 0.75);
  // }
}

.form-label {
  padding-top: 12px;
  padding-left: 12px;
  color: var(--color-blocks-text);
  font-size: 14px;
  pointer-events: none;
}

.form-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.form-checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.title {
  font-size: 34px;
  line-height: 34px;
  font-weight: 700;
  padding-bottom: 76px;
}

.additional-message {
  padding-bottom: 20px;
  font-size: 14px;
}

.invalid {
  border: 2px solid red;
}
