<div class="auth__container">
  <div class="auth__container-title-and-form">
    <h1 class="auth__title">{{ title }}</h1>
    <form class="auth__form">
      <div *ngIf="userService.hasAccount$.value" class="auth__form-group">
        <input class="auth__form-control" type="text" name="name" required>
        <label class="auth__form-label" for="name">
          <span class="auth__form-label-text">Name</span>
        </label>
      </div>
      <div class="auth__form-group">
        <input class="auth__form-control" type="email" name="email" required>
        <label class="auth__form-label" for="email">E-Mail</label>
      </div>
      <div class="auth__form-group">
        <input class="auth__form-control" type="password" name="password" required>
        <label class="auth__form-label" for="password">Password</label>
      </div>
      <app-link [link]="link" [text]="linkText" />
      <app-button type="submit" [text]="submitButtonText" />
    </form>
  </div>
  <app-auth-social [text]="socialAuthText" />
</div>
