<div class="collection">
  <div class="overflow-h">
    <div class="cover collection__new">
      <div class="p">
        <p class="collection__new-text">New collecion</p>
      </div>
    </div>
  </div>
  <div class="collection__other">
    <div class="collection__other-container">
      <div class="overflow-h h-50">
        <div class="cover collection__summer dfcc">
          <div class="p">
            <p class="collection__summer-text">Summer sale</p>
          </div>
        </div>
      </div>
      <div class="overflow-h h-50">
        <div class="cover collection__black">
          <div class="p">
            <p class="collection__black-text">Black</p>
          </div>
        </div>
      </div>
    </div>
    <div class="overflow-h h-100 w-50">
      <div class="cover collection__men-hoodie dfcc">
        <div class="p">
          <p class="collection__men-hoodie-text">Men's hoodie</p>
        </div>
      </div>
    </div>
  </div>
</div>
