<div class="gallery">
  <div class="global-container">
    <div class="gallery__titles">
      <div class="gallery__titles-container">
        <h2 class="gallery__title">{{ title }}</h2>
        <div class="gallery__sub-title">{{ subTitle }}</div>
      </div>
      <button class="gallery__button">{{ buttonText }}</button>
    </div>
    <ul class="gallery__list">
      <li class="gallery__item">
        <div class="gallery__img-container">
          <span *ngIf="hasDiscount" class="gallery__bubble-discount">{{ getDiscountText() }}</span>
          <img [ngStyle]="style" alt="" class="gallery__img">
          <button class="gallery__favorite">
            <app-icon [icon]="eIcon.favorite" />
          </button>
        </div>
        <div class="gallery__stars">
          <app-icon [icon]="eIcon.star" />
          <app-icon [icon]="eIcon.star" />
          <app-icon [icon]="eIcon.star" />
          <app-icon [icon]="eIcon.star" />
          <app-icon [icon]="eIcon.star" />
          <span class="gallery__stars-count">(5)</span>
        </div>
        <span class="gallery__brand">{{ brand }}</span>
        <span class="gallery__item-name">{{ itemName }}</span>
        <div class="gallery__prices">
          <span class="gallery__price" [ngClass]="{'gallery__old-price': hasDiscount}">{{ price + currency }}</span>
          <span *ngIf="hasDiscount" class="gallery__discount-price">{{ this.getDiscountPrice() + this.currency }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
