<div class="navbar">
  <div class="navbar__list">
    <div class="navbar__item dfcc">
      <div class="navbar__icon">
        <app-icon [icon]="eIcon.home" />
      </div>
      <span class="navbar__text">Home</span>
    </div>
    <div class="navbar__item dfcc">
      <div class="navbar__icon">
        <app-icon [icon]="eIcon.shop" />
      </div>
      <span class="navbar__text">Shop</span>
    </div>
    <div class="navbar__item dfcc">
      <div class="navbar__icon">
        <app-icon [icon]="eIcon.bag" />
      </div>
      <span class="navbar__text">Bag</span>
    </div>
    <div class="navbar__item dfcc">
      <div class="navbar__icon">
        <app-icon [icon]="eIcon.favorite" />
      </div>
      <span class="navbar__text">Favorites</span>
    </div>
    <div class="navbar__item dfcc">
      <div class="navbar__icon">
        <app-icon [icon]="eIcon.profile" />
      </div>
      <span class="navbar__text">Profile</span>
    </div>
  </div>
</div>
