<div class="home-page">
  <div class="hero">
    <div class="hero__container">
      <h1 class="hero__title">Fashion sale</h1>
    <button class="sale__button">Hello</button>
    </div>
  </div>
  <app-gallery
    *ngIf="showSectionSale"
    title="Sale"
    subTitle="Super summer sale"
    buttonText="View all"
    [galleryItems]="galleryItems"
  />
  <div class="hero">
    <div class="hero__container">
      <h1 class="hero__title">Street clothes</h1>
    </div>
  </div>
  <app-gallery
    *ngIf="showSectionNew"
    title="New"
    subTitle="You've never seen it before!"
    buttonText="View all"
    [galleryItems]="galleryItemsNew"
  />
</div>
