@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis/Metropolis-Black.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis/Metropolis-ExtraBold.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis/Metropolis-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis/Metropolis-SemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis/Metropolis-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis/Metropolis-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis/Metropolis-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis/Metropolis-ExtraLight.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis/Metropolis-Thin.otf") format("opentype");
  font-weight: 100;
}
