:root {
  --color-bg: #F9F9F9;
  --color-blocks-bg: #FFF;
  --color-blocks-border: #F1F1F1;
  --color-blocks-text: #9B9B9B;
  --color-blocks-text-white: #FFF;
  --color-blocks-text-black: #000;
  --color-primary: #DB3022;
  --color-primary-hover: #B62A1E;
}
