.gallery {
  padding-bottom: 50px;

  &__titles {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 40px;
    padding-bottom: 4px;
  }

  &__sub-title {
    color: #9B9B9B;
    font-weight: 200;
    font-size: 14px;
  }

  &__list {
    padding-top: 16px;
    overflow-y: auto;
    display: flex;
  }
}
