<div class="gallery">
  <div class="global-container">
    <div class="gallery__titles">
      <div class="gallery__titles-container">
        <h2 class="gallery__title">{{ title }}</h2>
        <div class="gallery__sub-title">{{ subTitle }}</div>
      </div>
      <button class="gallery__button">{{ buttonText }}</button>
    </div>
    <ul class="gallery__list">
      <app-gallery-item
        *ngFor="let item of galleryItems"
        [brand]="item.brand"
        [itemName]="item.itemName"
        [currency]="item.currency"
        [price]="item.price"
        [discountAmount]="item.discountAmount"
        [discountPercent]="item.discountPercent"
        [image]="item.image"
      />
    </ul>
  </div>
</div>
